*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Poppins' sans-serif;
}
:root {
  --bg: whitesmoke;
  --text: #333;
  --blue: #007bff;
  --whatsapp-green: #25D366;
  --red: #dc3545;
}
body.dark {
  --bg: #121212;
  --text: #e0e0e0;
  --blue: #1E90FF;
  --whatsapp-green: #25D366;
  --red: #dc3545;
}
body {
  background-color: var(--bg);
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
}
a {
  color: var(--blue);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
} 
