.post-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
.post-page .loading {
	font-size: 1rem;
	font-style: italic;
	color: var(--indigo);
	animation: pulse 1.5s infinite;
}

@keyframes pulse {
	0% {
		opacity: 0.2;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.2;
	}
}

.post-page h1 {
	font-family: "Poppins";
	font-size: 2rem;
	margin-bottom: 20px;
}
.post-page img {
	max-width: 100%;
	width: 100%;
	height: 500px;
	margin-bottom: 20px;
	border-radius: 10px;
	object-fit: cover;
}
.post-page span {
	align-self: flex-end;
	color: var(--whatsapp-green);
	font-style: italic;
}
.post-page p {
	font-family: "Inter";
	font-size: 1.2rem;
	line-height: 1.75;
	margin-bottom: 20px;
}

/* COMMENTS SECTION */

.comments-section {
	background-color: #f1f5f9;
	border : 1px solid #e2e8f0;
	border-radius: 8px;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 50px;
	width: 800px;
	max-width: 800px;
	font-size: 0.8rem;
	line-height: 1.5;
	overflow-y: auto;
	max-height: auto;
	transition: background-color 0.3s ease;
}
.comments-section h2 {
	font-size: 1.2rem;
	margin-bottom: 10px;
	color: var(--indigo);
}
.comments-section p {
	margin: 5px 0;
	color: var(--gray-800);
}
.comments-section ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.comments-section li {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #e2e8f0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	gap: 1rem;
	width: 100%;
}
.comments-section li:last-child {
	border-bottom: none;
}
.comments-section li span {
	flex: 1;
	color: gray;

}
.comments-section li strong {
	font-size: 0.7rem;
	color: var(--indigo);
	margin-right: 1rem;
}

.delete-comment-btn {
	font-size: 1.25rem;
	justify-self: flex-end;
	cursor: pointer;
	background: transparent;
	color: hsla(0, 100%, 50%, 0.8);
	transition: background-color 0.3s ease;
	white-space: nowrap;
}
.delete-comment-btn:hover {
	color: hsla(0, 100%, 50%, 0.5);
}


.message-banner {
	position: fixed;
	top: -100px;
	left: 50%;
	transform: translateX(-50%);
	padding: 1rem 2rem;
	border-radius: 5px;
	color: var(--light-grayish);
	font-weight: bold;
	z-index: 999;
	animation: slideDown 0.5s ease-out forwards, fadeOut 1s ease-in 8s forwards;
}

.message-banner.success {
	background-color: #28a745; /* green */
}

.message-banner.error {
	background-color: #dc3545; /* red */
}

@keyframes slideDown {
	to {
		top: 50px;
	}
}

@keyframes fadeOut {
	to {
		opacity: 0;
	}
}
