.posts-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
.loading {
	font-size: 1rem;
	color: var(--indigo);
	margin-top: 20px;
	animation: pulse 1.5s infinite;
}

@keyframes pulse {
	0% {
		opacity: 0.2;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.2;
	}
}

.posts-list {
	display: flex;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	overflow: hidden;
	justify-content: flex-start;
	width: 100%;
	max-width: 1200px;
}
.comments-section {
	background-color: #f1f5f9;
	border : 1px solid #e2e8f0;
	border-radius: 8px;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 50px;
	width: 800px;
	max-width: 800px;
	font-size: 0.8rem;
	line-height: 1.5;
	overflow-y: auto;
	max-height: auto;
	transition: background-color 0.3s ease;
}
.comments-section h2 {
	font-size: 1.2rem;
	margin-bottom: 10px;
	color: var(--indigo);
}
.comments-section p {
	margin: 5px 0;
	color: var(--gray-800);
}
.comments-section ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.comments-section li {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #e2e8f0;
}
.comments-section li:last-child {
	border-bottom: none;
}
.comments-section li strong {
	font-size: 0.7rem;
	color: var(--indigo);
}