*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", "Inter", sans-serif;
}
:root {
	--bg: whitesmoke;
	--form-bg: white;
	--text: #333;
	--blue: #007bff;
	--whatsapp-green: #25d366;
	--red: #dc3545;
	--icon: rgb(255, 204, 0);
}
body.dark {
	--bg: #0d1117 ;
	--form-bg: #161b22;
	--text: #e0e0e0;
	--blue: #1e90ff;
	--whatsapp-green: #25d366;
	--red: #dc3545;
	--icon: rgb(255, 128, 0);
}
body {
	background-color: var(--bg);
	color: var(--text);
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	overflow-x: hidden; 
	width: 100%;
	padding: 0 20px;
	gap: 20px;
}
a {
	color: var(--blue);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-family: "Inter", sans-serif;
	font-size: 1.618rem;
}
